<div class="home__container">
  <app-card
    gameCover="assets/ER.jpg"
    gameLabel="DELUXE EDITION"
    gameType="DIGITAL | PS4 PS5"
    gamePrice="$119.99"
  >
  </app-card>
  <app-card
    gameCover="assets/ac-cover.jpg"
    gameLabel="STANDARD EDITION"
    gameType="DISC | PS4 PS5"
    gamePrice="$109.99"
  >
  </app-card>
  <app-card
    gameCover="assets/FF.jpg"
    gameLabel="NEW"
    gameType="DIGITAL | PS4 PS5"
    gamePrice="$59.99"
  >
  </app-card>
  <app-card
    gameCover="assets/G.jpg"
    gameLabel="ANNIVERSARY EDITION"
    gameType="DIGITAL | PS4 PS5"
    gamePrice="$59.99"
  >
  </app-card>
  <app-card
    gameCover="assets/H.jpg"
    gameLabel="NEW"
    gameType="DIGITAL | PS4 PS5"
    gamePrice="$59.99"
  >
  </app-card>
  <app-card
    gameCover="assets/LP.jpg"
    gameLabel="NEW"
    gameType="DIGITAL | PS4 PS5"
    gamePrice="$59.99"
  >
  </app-card>
  <app-card
    gameCover="assets/BG.jpg"
    gameLabel="BASE GAME"
    gameType="PS5"
    gamePrice="$159.99"
  >
  </app-card>
  <app-card
    gameCover="assets/SM.jpg"
    gameLabel="DIGITAL EXCLUSIVE"
    gameType="PS5"
    gamePrice="$149.99"
  >
  </app-card>

</div>
